html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    display: inline;
    align-items: center;
}

nav {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    padding-left: 24px;
    max-height: 32px;
}

nav a {
    text-decoration: none;
    color: black;
    padding-right: 16px;

}

.menu {
    padding-right: 8px;
    float: right;

}