html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    display: inline;
    align-items: center;
}

nav {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    padding-left: 24px;
    max-height: 32px;
}

nav a {
    text-decoration: none;
    color: black;
    padding-right: 16px;
}

.menu {
    padding-right: 8px;
    float: right;
}

/* Hero */
.hero {
    background-color: lightgray;
    display: inline-block;
    display: flex;
    align-items: center;
}

.hero img {
    padding: 32px 24px;
    width: 60%;
}

button {
    background-color: gray;
    width: 250px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button {
    text-decoration: none;
    color: white;
}

/* Featured articles */
.featured {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    display: flex;
}

.featured p {
    padding-top: 8px;
    padding-bottom: 8px;
}

.main-feature {
    width: 60%;
    display: flex;
    flex-grow: 2;
    flex-grow: 1;
    padding-left: 24px;
    padding-right: 24px;
}

.main-feature img {
    padding-bottom: 32px;
    width: 100%;
    height: auto;
}

.main-feature h2 {
    padding-bottom: 24px;
}

.author {
    font-family: Arial, Helvetica, sans-serif;
}

.subfeatures {
    max-width: 40%;
    flex-grow: 1;
    flex-shrink: 1; 
}

.subfeature-details {
    display: inline-block;
    display: flex;
    align-items: center;
}

.subfeature-details img {
    height: auto;
    width: 35%;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.main-feature img {
    display: flex;

}

.subfeature-content {
    width: 65%;
}

.feature-link {
    text-decoration: none;
}

.guest {
    background-color: lightgray;
    display: inline-block;
    display: flex;
    align-items: center;
}

.guest img {
    height: auto;
    width: 35%;
    padding: 16px;
}

/* Start learning */
.learning-overview {
    background-color: lightgray;
    padding: 32px 72px;
}

.learning {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learning-overview h2 {
    text-align: center;
}

.learning-details {
    background-color: white;
    margin-bottom: 32px;
    margin-right: 32px;

}

.learning-details img {
    height: auto;
}

.learning-content {
    padding: 16px; 

}

/* Footer */
footer {
    padding-left: 24px;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkgray;
}

.footer-content {
    float: right;
}

.footer-content a {
    text-decoration: none;
    color: darkgray;
}